.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.time-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    width: 100%;
    padding: 1rem 0;
  }

  p {
    min-width: 4rem;
    padding: 1rem;
    font-size: 0.85rem;
    font-weight: 300;
  }
}

.play-control {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  svg {
    cursor: pointer;
  }
}
